<br>
<h3>Hi Admin</h3>
<h2  align="center">Menu List</h2>
<div align="center">
    <button class="btn btn-primary" routerLinkActive='active'  [routerLink]="['/addmenu']" >Add</button>
    <button class="btn btn-primary" id="assign" (click)="onAssign()" >Assign</button>
</div>


  
  <!-- <div align="center" class="bu">
    <button routerLinkActive='active' [routerLink]="['/cusregister',cus()]">Add Customer</button>
</div> -->
<br>
<table mat-table align = "center" [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
    <!-- Position Column -->

      <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Item</th>
          <td mat-cell *matCellDef="let element"> {{element.item}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button routerLinkActive='active' [routerLink]="['/editmenu',element.id]">
        <mat-icon svgIcon="edit"></mat-icon>
        
      </button> </td>
    </ng-container>
    
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
        <td mat-cell *matCellDef="let element"> <mat-icon svgIcon="delete"
            (click)="onDelete(element.id)"></mat-icon> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
