table 
{
    width: 80%;
    
}
  .mat-header-cell {
    font-size: 13px;
    font-weight: bold;
    color: #37474F;
  }
  .h2
  {
    color: #37474F ;
  }
  .tab.bu{
    margin-right: 400px;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  th,td{
    width:400px;
  }

  .bu button{
    outline: none;
    background-color: #37474F;
    border-radius: 4px;
    color: white;
    width: 10%;
    /* margin-left: 79%; */
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }

  .mat-icon
  {
    cursor: pointer;
  }

  button:focus {
    outline: none !important;
    
  }